* {
    margin: auto;
    padding: auto;
}

body {
    min-width: 70%;
}

a {
    text-decoration: none;
    color: #333;
    display: inline;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
}

.first {
    height: auto;
    min-width: 70%;
    background: #333;
    position: relative;
}

.fff-4 {
    position: relative;
}

.fff-4:hover .fff-3 {
    display: block;
}

.fff-3::before {
    content: "";
    left: 50%;
    top: -16px;
    border: 8px solid;
    border-color: transparent transparent #ffffff transparent;
    width: 0px;
    margin: 0 0 0 -8px;
    position: absolute;
}

.fff-3 {
    width: 120px;
    height: 150px;
    box-shadow: rgb(170, 170, 170) 0px 1px 5px;
    position: absolute;
    top: 25px;
    text-align: center;
    display: none;
    z-index: 999;
    background: #ffffff;
    left: -35px;
    z-index: 999;
}

.fff-3 h3 {
    padding-bottom: 10px;
}

.fff-3 img {
    width: 100px;
    height: 100px;
    padding-top: 15px;
}

.first-1 {
    height: 30px;
    width: 1100px;
    margin: 0 auto;
}

.first-1::after {
    content: "";
    clear: both;
}

.first-11 {
    float: left;
    width: 600px;
    height: 30px;
}

.first-11 ul li {
    float: left;
}

.first-11 a {
    font-size: 11px;
    color: #b0b0b0;
    line-height: 30px;
}

.first-11 a:hover {
    color: aliceblue;
}

.first-11 span {
    color: #424242;
    line-height: 30px;
}

.first-12 {
    float: right;
    height: 30px;
    width: 100px;
    text-align: center;
    background: #adadad42;
    position: relative;
    z-index: 999;
}

.first-12 a {
    font-size: 11px;
    color: #b0b0b0;
    line-height: 30px;
}

.first-12:hover {
    background: #fff;
    transition: all 0.5s;
}

.first-12:hover a {
    color: #ff6700;
}

.first-12 img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    padding-right: 3px;
}

.first-12:hover .fff {
    transform: scale(1, 1)
}

.fff {
    position: absolute;
    z-index: 999;
    right: 0px;
    top: 30px;
    width: 300px;
    height: 80px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    line-height: 80px;
    transform: scale(1, 0);
    transition: all 0.5s;
    transform-origin: top;
}

.fff p {
    font-size: 11px;
    color: #424242;
}

.first-13 {
    float: right;
    height: 30px;
    width: 150px;
    text-align: center;
    margin-right: 10px;
}

.first-13 a {
    font-size: 11px;
    color: #b0b0b0;
    line-height: 30px;
}

.first-13 a:hover {
    color: aliceblue;
}

.first-13 span {
    color: #424242;
    line-height: 30px;
}

.second {
    width: 1100px;
    margin: 0 auto;
    height: 80px;
    background: #ffffffdc;
    z-index: 20;
}

.second-1 {
    float: left;
    width: 50px;
    height: 80px;
}

.second-1 img {
    width: 45px;
    height: 45px;
    margin-top: 20px;
}

.second-2 {
    float: right;
    height: 80px;
    position: relative;
    width: 240px;
}

.second-x {
    margin-top: 20px;
    height: 40px;
    width: 240px;
}

.second-3 {
    width: 200px;
    height: 40px;
    outline: none;
    border: 1px solid #e0e0e0;
}

.second-x:hover {
    border: 0.05px solid #b0b0b0;
}

.second-x:hover .second-3 {
    border: 0.05px solid #b0b0b0;
    transition: all 1s;
}

.second-xx:hover .second-4 {
    background: #ff6600;
    transition: all 1s;
}

.second-xx {
    width: 35px;
    height: 40px;
    display: inline-block;
}

.second-4 {
    width: 40px;
    height: 40px;
    margin-right: 0;
    margin-left: -5px;
    vertical-align: middle;
    border: 1px solid #e0e0e0;
    background: #ffffff00;
}

.second-5 {
    float: left;
    width: 800px;
    height: 80px;
    line-height: 80px;
}

.second-5 ul {
    width: 650px;
    height: 80px;
    margin: 0;
    padding-left: 150px;
}

.second-5 ul li a {
    font-size: 14px;
}

.second-5 ul li a:hover {
    color: #ff6600;
}

.second-5 ul li {
    text-align: center;
    padding: 5px 12px;
    height: 50px;
    float: left;
}

.second-511 {
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    transform: scale(1, 0);
    transition: all 0.2s;
    transform-origin: top;
    background: #ffffff;
    z-index: 999;
}

.second-511 ul li {
    padding: 0;
}

.second-511 ul {
    margin: 0 auto;
    width: 70%;
}

.second-5111 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-5111 p {
    font-size: 11px;
    width: 80px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51111 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51113 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51112 {
    border-right: 1px solid #e0e0e0;
}

.second-51112 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5112 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-5112 p {
    font-size: 11px;
    width: 80px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51122 {
    border-right: 1px solid #e0e0e0;
}

.second-51121 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51123 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51122 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5113 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51132 {
    border-right: 1px solid #e0e0e0;
}

.second-5113 p {
    font-size: 11px;
    width: 90px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51131 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
    border: 1px solid #ff6700;
}

.second-51133 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51132 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5114 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-51142 {
    border-right: 1px solid #e0e0e0;
}

.second-5114 p {
    font-size: 11px;
    width: 80px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51141 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51143 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51142 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5115 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51152 {
    border-right: 1px solid #e0e0e0;
}

.second-5115 p {
    font-size: 11px;
    width: 80px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51151 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51153 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51152 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5116 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0;
}

.second-5116 p {
    font-size: 11px;
    width: 80px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51161 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51163 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51162 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-xmsj:hover .second-511 {
    transform: scale(1, 1);
}

.second-512 {
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    transform: scale(1, 0);
    transition: all 0.2s;
    transform-origin: top;
    background: #ffffff;
    z-index: 999;
}

.second-512 ul li {
    padding: 0;
}

.second-512 ul {
    margin: 0 auto;
    width: 70%;
}

.second-5121 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-5121 p {
    font-size: 11px;
    width: 80px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51211 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51213 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51212 {
    border-right: 1px solid #e0e0e0;
}

.second-51212 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5122 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-5122 p {
    font-size: 11px;
    width: 80px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51222 {
    border-right: 1px solid #e0e0e0;
}

.second-51221 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51223 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51222 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5123 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51232 {
    border-right: 1px solid #e0e0e0;
}

.second-5123 p {
    font-size: 11px;
    width: 90px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51231 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
    border: 1px solid #ff6700;
}

.second-51233 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51232 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5124 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-51242 {
    border-right: 1px solid #e0e0e0;
}

.second-5124 p {
    font-size: 11px;
    width: 80px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51241 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51243 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51242 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5125 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-5125 p {
    font-size: 11px;
    width: 80px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51251 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51253 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51252 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-hmsj:hover .second-512 {
    transform: scale(1, 1);
}

.second-513 {
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    transform: scale(1, 0);
    transition: all 0.2s;
    transform-origin: top;
    background: #ffffff;
    z-index: 999;
}

.second-513 ul li {
    padding: 0;
}

.second-513 ul {
    margin: 0 auto;
    width: 70%;
}

.second-5131 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-5131 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51311 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51313 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51312 {
    border-right: 1px solid #e0e0e0;
}

.second-51312 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5132 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-5132 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51322 {
    border-right: 1px solid #e0e0e0;
}

.second-51321 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51323 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51322 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5133 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51332 {
    border-right: 1px solid #e0e0e0;
}

.second-5133 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51331 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
    border: 1px solid #ff6700;
}

.second-51333 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51332 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5134 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-51342 {
    border-right: 1px solid #e0e0e0;
}

.second-5134 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51341 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51343 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51342 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5135 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51352 {
    border-right: 1px solid #e0e0e0;
}

.second-5135 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51351 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51353 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51352 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5136 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0;
}

.second-5136 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51361 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51363 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #333;
}

.second-51362 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-xmds:hover .second-513 {
    transform: scale(1, 1);
}

.second-514 {
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    transform: scale(1, 0);
    transition: all 0.2s;
    transform-origin: top;
    background: #ffffff;
    z-index: 999;
}

.second-514 ul li {
    padding: 0;
}

.second-514 ul {
    margin: 0 auto;
    width: 70%;
}

.second-5141 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-5141 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51411 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51413 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51412 {
    border-right: 1px solid #e0e0e0;
}

.second-51412 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5142 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-5142 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51422 {
    border-right: 1px solid #e0e0e0;
}

.second-51421 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51423 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51422 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5143 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51432 {
    border-right: 1px solid #e0e0e0;
}

.second-5143 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51431 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
    border: 1px solid #ff6700;
}

.second-51433 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51432 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5144 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-51442 {
    border-right: 1px solid #e0e0e0;
}

.second-5144 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51441 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51443 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51442 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5145 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51452 {
    border-right: 1px solid #e0e0e0;
}

.second-5145 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51451 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51453 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51452 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5146 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0;
}

.second-5146 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51461 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51463 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51462 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-xmbjb:hover .second-514 {
    transform: scale(1, 1);
}

.second-515 {
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    transform: scale(1, 0);
    transition: all 0.2s;
    transform-origin: top;
    background: #ffffff;
    z-index: 999;
}

.second-515 ul li {
    padding: 0;
}

.second-515 ul {
    margin: 0 auto;
    width: 70%;
}

.second-5151 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-5151 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51511 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51513 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51512 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-xmkt:hover .second-515 {
    transform: scale(1, 1);
}

.second-516 {
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    transform: scale(1, 0);
    transition: all 0.2s;
    transform-origin: top;
    background: #ffffff;
    z-index: 999;
}

.second-516 ul li {
    padding: 0;
}

.second-516 ul {
    margin: 0 auto;
    width: 70%;
}

.second-5161 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-5161 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51611 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51613 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51612 {
    border-right: 1px solid #e0e0e0;
}

.second-51612 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5162 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-5162 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51622 {
    border-right: 1px solid #e0e0e0;
}

.second-51621 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51623 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51622 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5163 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51632 {
    border-right: 1px solid #e0e0e0;
}

.second-5163 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51631 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51633 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51632 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5164 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-51342 {
    border-right: 1px solid #e0e0e0;
}

.second-5164 p {
    font-size: 11px;
    width: 150px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51641 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51643 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51642 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-51642 {
    border-right: 1px solid #e0e0e0;
}

.second-5165 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51652 {
    border-right: 1px solid #e0e0e0;
}

.second-5165 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51651 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51653 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51652 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5166 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0;
}

.second-5166 p {
    font-size: 11px;
    width: 150px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51661 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51663 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51662 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-xmxp:hover .second-516 {
    transform: scale(1, 1);
}

.second-517 {
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    transform: scale(1, 0);
    transition: all 0.2s;
    transform-origin: top;
    background: #ffffff;
    z-index: 999;
}

.second-517 ul li {
    padding: 0;
}

.second-517 ul {
    margin: 0 auto;
    width: 70%;
}

.second-5171 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-5171 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51711 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.second-51713 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51712 {
    border-right: 1px solid #e0e0e0;
}

.second-51712 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5172 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-5172 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51722 {
    border-right: 1px solid #e0e0e0;
}

.second-51721 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51723 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51722 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5173 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51732 {
    border-right: 1px solid #e0e0e0;
}

.second-5173 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51731 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51733 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51732 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5174 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-51742 {
    border-right: 1px solid #e0e0e0;
}

.second-5174 p {
    font-size: 11px;
    width: 150px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51741 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
    border: 1px solid #ff6700;
}

.second-51743 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51742 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-51742 {
    border-right: 1px solid #e0e0e0;
}

.second-5175 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51752 {
    border-right: 1px solid #e0e0e0;
}

.second-5175 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51751 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
    border: 1px solid #ff6700;
}

.second-51753 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51752 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5176 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0;
}

.second-5176 p {
    font-size: 11px;
    width: 150px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51761 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51763 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51762 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-xmlyq:hover .second-517 {
    transform: scale(1, 1);
}

.second-518 {
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    transform: scale(1, 0);
    transition: all 0.2s;
    transform-origin: top;
    background: #ffffff;
    z-index: 999;
}

.second-518 ul li {
    padding: 0;
}

.second-518 ul {
    margin: 0 auto;
    width: 70%;
}

.second-5181 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-5181 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51811 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51813 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51812 {
    border-right: 1px solid #e0e0e0;
}

.second-51812 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5182 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-5182 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51822 {
    border-right: 1px solid #e0e0e0;
}

.second-51821 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51823 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51822 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5183 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51832 {
    border-right: 1px solid #e0e0e0;
}

.second-5183 p {
    font-size: 11px;
    width: 140px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51831 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51833 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51832 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5184 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
    cursor: pointer;
}

.second-51842 {
    border-right: 1px solid #e0e0e0;
}

.second-5184 p {
    font-size: 11px;
    width: 150px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
}

.second-51841 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51843 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51842 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-51842 {
    border-right: 1px solid #e0e0e0;
}

.second-5185 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0px;
}

.second-51852 {
    border-right: 1px solid #e0e0e0;
}

.second-5185 p {
    font-size: 11px;
    width: 100px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51851 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51853 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51852 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-5186 {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 35px 12px 0;
    text-align: center;
    margin: 0 0;
}

.second-5186 p {
    font-size: 11px;
    width: 150px;
    height: 20px;
    color: #333;
    line-height: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.second-51861 {
    width: 50px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #ff6700;
}

.second-51863 {
    width: 60px;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    color: #333;
}

.second-51862 img {
    width: 110px;
    height: 90px;
    vertical-align: middle;
    margin-top: 10px;
}

.second-xmyj:hover .second-518 {
    transform: scale(1, 1);
}